body {
    margin: 0;
    font-family: sans-serif;
}

h1,
h4 {
    text-align: center;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

form {
    margin: 20px auto;
    width: 300px;
}